        </script>
        <p>let's start</p>

        <button id="authorize-button" style="visibility: hidden">Authorize</button>
        <script type="text/javascript">
            //utilities for making API call from my_lecture
            function delete_duplicate (array) {
                var res = [];
                array.forEach(function(item) {
                    if (res.indexOf(item) == -1)
                        res.push(item);
                });
                return res;
            }
            function first_date_of_day (year, month, day) {
            //year: full 4-digit year
            //month: 1 represents January while 12 represents December
            //day: 0 represents Sunday while 6 represents Saturday
            var current_day = new Date();
            current_day.setFullYear(year, month - 1);
                for (var i = 1; i < 8; i++) {
                    current_day.setDate(i);
                    if (current_day.getDay() === day)
                        return current_day;
                }
            }

            var clientId = '829121637495-clsjmc4i90q89rhnd7pifrfajes9p9pu.apps.googleusercontent.com';
            var apiKey = 'AIzaSyCYJP-byUatXUB4JNUon5xfHz2LxAF-_To';
            var scopes = 'https://www.googleapis.com/auth/calendar';

            function handleClientLoad() {
                // Step 2: Reference the API key
                gapi.client.setApiKey(apiKey);
                window.setTimeout(checkAuth,1);
            }

            function checkAuth() {
                gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
            }

            function handleAuthResult(authResult) {
                var authorizeButton = document.getElementById('authorize-button');
                if (authResult && !authResult.error) {
                    authorizeButton.style.visibility = 'hidden';
                    console.log("authorize successful");
                    makeApiCall();
                } else {
                    console.log("망..");
                }
            }

            function makeApiCall() {
                var calendarId;
                var calendarTitle = 'snutt_' + current_year + '.' + current_semester;

                var addCalendar = gapi.client.request({
                    'path': '/calendar/v3/calendars',
                    'method': 'POST',
                    'body': {
                        'summary': calendarTitle
                    }
                });
                addCalendar.execute(function(resp) {
                    console.log(resp);
                    calendarId = resp.id;
                    console.log(resp.id);

                    window.setTimeout(function(){
                        my_lectures.forEach(function(item) {
                            var title = item.course_title;
                            var lecturer = item.lecturer ? item.lecturer : 'user';
                            var startMonth;
                            if (current_semester == '1') {
                                startMonth = 3;
                            } else if (current_semester == '2') {
                                startMonth = 9;
                            } else {
                                alert("sorry, currently we only support regular semesters");
                            }

                            var lectureDays = item.class_time.split("/");
                            lectureDays = delete_duplicate(lectureDays);
                            lectureDays.forEach(function(item) {
                                var pattern = /(.)\((.+)-(.+)\)/;
                                pattern.exec(item);

                                var lectureDay = ["일","월","화","수","목","금","토"].indexOf(RegExp.$1); //0~6
                                var lecturePeriod = Number(RegExp.$2);
                                var lectureDuration = Number(RegExp.$3);

                                var startDateTime = first_date_of_day(Number(2014), 9, lectureDay);
                                var startMinute = (lecturePeriod + 8) * 60;
                                startDateTime.setHours(0, startMinute, 0);

                                var endDateTime = new Date(startDateTime.getTime());
                                var endMinute = startMinute + (lectureDuration * 60);
                                endDateTime.setHours(0, endMinute, 0);

                                var addLecture = gapi.client.request({
                                    'path': '/calendar/v3/calendars/' + calendarId + '/events',
                                    'method': 'POST',
                                    'body': {
                                        'start':{
                                            'dateTime': startDateTime.toISOString(),
                                            'timeZone': 'Europe/London'
                                        },
                                        'end':{
                                            'dateTime': endDateTime.toISOString(),
                                            'timeZone': 'Europe/London'
                                        },
                                        'recurrence': [
                                        "RRULE:FREQ=WEEKLY;COUNT=14"
                                        ],
                                        'summary': title
                                    }
                                });
                                addLecture.execute(function(resp) {
                                    console.log(resp);
                                });
                            });
                        });
                    }, 1500);
                });
            }
    </script>
    <!-- Step 1: Load JavaScript client library -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>