    </script> 
  </head>
<body>
<link rel="stylesheet" type="text/css" href="/asset/timetable.css">
<style>
  body {
    padding: 20px !important;
  }
  div {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 40px;
    text-align: center;
  }
  h3 {
    margin-bottom: 20px;
  }
  #brand-text {
    color: #008800;
    font-weight: 900;
  }
  a {
    text-decoration: none;
    font-weight: 300;
    color: #000000;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
</style>

<div>
  <h1>서울대학교 시간표 <span id="brand-text">스누티티</span> 개발팀</h1>
</div>
<div>
  <a href="http://www.wafflestudio.com" target="_blank">
    <img id="waffle_logo" src="/asset/waffle_logo.png" alt="와플스튜디오 로고, WaffleStudio Logo"/>
  </a>
</div>
<div>
  <h3># 2012~</h3>
  <b>최초 개발</b><br>이종민 / 컴퓨터공학부 09<br>
  <h3># 2014~</h3>
  김광래 / 컴퓨터공학부 12<br>
  김진형 / 컴퓨터공학부 14<br>
  정형식 / 자유전공학부 10<br>
  김알찬 / 컴퓨터공학부 12<br>
</div>

<div>
  <h5><a href="mailto:master@wafflestudio.com" target="_blank">개발자 괴롭히기 - master@wafflestudio.com</a></h5>
</div>

</body>
</html>
