		</script>

	</head>
	<body>
		<!-- facebook test -->
    <div id="fb-root"></div>
    <script>
      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/ko_KR/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

      // Init the SDK upon load
      window.fbAsyncInit = function(){
        FB.init({
          appId      : '373200526066057', // App ID
          channelUrl : '//'+window.location.hostname+'/channel', // Path to your Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });
      };
    </script>

		<div id="bar-top" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" id="brand_button"><b>SNUTT</b></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" id="main_navigation">
						<li>
							<a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#"><span id="semester_label">학기</span><span class="caret"></span></a>
							<ul class="dropdown-menu my-toggle"  id="semester_dropdown_ul">
								<!-- init_client 이후 초기화됨 -->
							</ul>
						</li>
						<li class="active my-toggle"><a href="#search" id="nav_search_result" data-toggle="tab">강의 찾기</a></li>
						<li class="my-toggle"><a href="#my_courses" data-toggle="tab" rel="tooltip" id="nav_my_courses">내 강의 / <b class="badge-info">0학점</b></a></li>
						<li class="my-toggle"><a href="#export" id="nav_export" data-toggle="tab">저장하기</a></li>
						<!--li class="hidden" id="social_comment_li"><a href="#social_comment" id="nav_social_comment" data-toggle="tab">소셜 댓글</a></li-->
					</ul>
					<ul class="nav navbar-nav navbar-right hidden-xs">
						<li id="facebook_like_li">
						<div style="vertical-align:center;"class="fb-like" data-href="http://snutt.kr" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-colorscheme="dark"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div id="content_wrapper">
				<div id="search_form_container">
					<form class="well form-search" id="search_form">
						<div id="search_cond_table">
							<div id="search_btns">
								<div class="child btn-group" id="search_type">
									<a class="btn dropdown-toggle big_label" data-toggle="dropdown" href="#"><span id="stype_dropdown_label">과목 이름</span> <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#" id="stype_course_title">과목 이름으로 검색</a></li>
										<li><a href="#" id="stype_department">개설학과로 검색</a></li>
										<li><a href="#" id="stype_class_time">수업교시로 검색</a></li>
										<li><a href="#" id="stype_instructor">교수명으로 검색</a></li>
										<li><a href="#" id="stype_course_number">교과목 번호로 검색</a></li>
									</ul>
								</div>
								<div class="child" id="search_input_container">
									<input type="text" class="input-medium" id="search_query_text" placeholder="예) 컴개실" />
								</div>
								<div class="child" id="search_button_container">
									<button type="submit" class="btn well">검색</button>
								</div>
							</div>
							<!-- 검색필터 버튼 -->
							<a class="btn big_label" id="search_filter_toggle_button" state="off">검색필터 <span class="caret"></span></a>

							<div id="search_filter" style="display:none;">
								<div class="search-filter-container" id="filter_basics">
									<span class="header">학문의 기초</span>
									<span class="label" value="basics_korean">국어와 작문</span>
									<span class="label" value="basics_foreign">외국어와 외국문화</span>
									<span class="label" value="basics_science">기초과학</span>
									<span class="label" value="basics">학문의 기초</span>
								</div>
								<div class="search-filter-container" id="filter_core">
									<span class="header">핵심교양</span>
									<span class="label" value="core_art">문학과 예술</span>
									<span class="label" value="core_history">역사와 철학</span>
									<span class="label" value="core_society">사회와 이념</span>
									<span class="label" value="core_nature">자연의 이해</span>
									<span class="label" value="core_technology">자연과 기술</span>
									<span class="label" value="core_biology">생명과 환경</span>
								</div>
								<div class="search-filter-container" id="filter_etc">
									<span class="header">기타</span>
									<span class="label" value="teaching">교직</span>
									<span class="label" value="exercise">예체능</span>
									<span class="label" value="etc">기타교양</span>
								</div>
								<div class="search-filter-container" id="filter_academic_year">
									<span class="header">학년</span>
									<span class="label" value="1">1학년</span>
									<span class="label" value="2">2학년</span>
									<span class="label" value="3">3학년</span>
									<span class="label" value="4">4학년 이상</span>
									<span class="label" value="5">대학원</span>
								</div>
								<div class="search-filter-container" id="filter_credit">
									<span class="header">학점</span>
									<span class="label" value="1">1학점</span>
									<span class="label" value="2">2학점</span>
									<span class="label" value="3">3학점</span>
									<span class="label" value="4">4학점</span>
									<span class="label" value="5">5학점 이상</span>
								</div>
								<div id="search_filter_footer">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-content" id="lectures_content">
					<div class="tab-pane active" id="search">
						<div id="search_result">
							<table class="table table-condensed table-bordered search-result-table" id="search_result_table">
								<thead>
									<tr>
										<th class="course-number hidden-xs">코드</th>
										<th class="lecture-number hidden-xs">번호</th>
										<th class="course-title hidden-xs">이름</th>
										<th class="classification hidden-xs">구분</th>
										<th class="department hidden-xs">개설학과</th>
										<th class="academic-year hidden-xs">학년</th>
										<th class="credit hidden-xs">학점</th>
										<th class="class-time hidden-xs">시간</th>
										<th class="location hidden-xs">장소</th>
										<th class="instructor hidden-xs">교수</th>
										<th class="quota hidden-xs">정원</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="13" style="text-align:center;"><h4>검색어를 입력하세요!</h4></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					<div class="tab-pane" id="my_courses">
						<table class="table table-condensed table-bordered search-result-table" id="my_courses_table">
							<thead>
								<tr>
									<th class="course-number hidden-xs">코드</th>
									<th class="lecture-number hidden-xs">번호</th>
									<th class="course-title hidden-xs">이름</th>
									<th class="classification hidden-xs">구분</th>
									<th class="department hidden-xs">개설학과</th>
									<th class="academic-year hidden-xs">학년</th>
									<th class="credit hidden-xs">학점</th>
									<th class="class-time hidden-xs">시간</th>
									<th class="location hidden-xs">장소</th>
									<th class="instructor hidden-xs">교수</th>
									<th class="quota hidden-xs">정원</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="13" style="text-align:center;"><h2>선택된 강의가 없습니다.</h2></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="course_detail_wrapper" style="display:none;">
					<div id="course_detail_info" class="vcenter">
						<h3 id="course_detail_title" class="course_detail_toggle"></h3>
						<h5 class="remark"></h5>
					</div>
					<button class="vcenter btn" id="course_detail_plan_button">강의계획서</button>
				</div>
				<div id="timetable_container">
					<div id="timecells_container">
						<div id="customcell_container">
							<div id="customcell" style="display:none;"></div>
						</div>
					</div>
					<table id="timetable">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th class="mon hidden-xs">월요일</th>
								<th class="tue hidden-xs">화요일</th>
								<th class="wed hidden-xs">수요일</th>
								<th class="thu hidden-xs">목요일</th>
								<th class="fri hidden-xs">금요일</th>
								<th class="sat hidden-xs">토요일</th>
								<th class="mon visible-xs">월</th>
								<th class="tue visible-xs">화</th>
								<th class="wed visible-xs">수</th>
								<th class="thu visible-xs">목</th>
								<th class="fri visible-xs">금</th>
								<th class="sat visible-xs">토</th>
							</tr>
						</thead>
						<tbody>
							<tr >
								<th rowspan="2">
									<span class="period">0교시</span><br />
									<span class="time">08:00~09:00</span>
								</th>
								<td class="mon" time="0">&nbsp;</td><td class="tue" time="0">&nbsp;</td><td class="wed" time="0">&nbsp;</td><td class="thu" time="0">&nbsp;</td><td class="fri" time="0">&nbsp;</td><td class="sat" time="0">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="0.5">&nbsp;</td><td class="tue" time="0.5">&nbsp;</td><td class="wed" time="0.5">&nbsp;</td><td class="thu" time="0.5">&nbsp;</td><td class="fri" time="0.5">&nbsp;</td><td class="sat" time="0.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">1교시</span><br />
									<span class="time">09:00~10:00</span>
								</th>
								<td class="mon" time="1">&nbsp;</td><td class="tue" time="1">&nbsp;</td><td class="wed" time="1">&nbsp;</td><td class="thu" time="1">&nbsp;</td><td class="fri" time="1">&nbsp;</td><td class="sat" time="1">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="1.5">&nbsp;</td><td class="tue" time="1.5">&nbsp;</td><td class="wed" time="1.5">&nbsp;</td><td class="thu" time="1.5">&nbsp;</td><td class="fri" time="1.5">&nbsp;</td><td class="sat" time="1.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">2교시</span><br />
									<span class="time">10:00~11:00</span>
								</th>
								<td class="mon" time="2">&nbsp;</td><td class="tue" time="2">&nbsp;</td><td class="wed" time="2">&nbsp;</td><td class="thu" time="2">&nbsp;</td><td class="fri" time="2">&nbsp;</td><td class="sat" time="2">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="2.5">&nbsp;</td><td class="tue" time="2.5">&nbsp;</td><td class="wed" time="2.5">&nbsp;</td><td class="thu" time="2.5">&nbsp;</td><td class="fri" time="2.5">&nbsp;</td><td class="sat" time="2.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">3교시</span><br />
									<span class="time">11:00~12:00</span>
								</th>
								<td class="mon" time="3">&nbsp;</td><td class="tue" time="3">&nbsp;</td><td class="wed" time="3">&nbsp;</td><td class="thu" time="3">&nbsp;</td><td class="fri" time="3">&nbsp;</td><td class="sat" time="3">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="3.5">&nbsp;</td><td class="tue" time="3.5">&nbsp;</td><td class="wed" time="3.5">&nbsp;</td><td class="thu" time="3.5">&nbsp;</td><td class="fri" time="3.5">&nbsp;</td><td class="sat" time="3.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">4교시</span><br />
									<span class="time">12:00~13:00</span>
								</th>
								<td class="mon" time="4">&nbsp;</td><td class="tue" time="4">&nbsp;</td><td class="wed" time="4">&nbsp;</td><td class="thu" time="4">&nbsp;</td><td class="fri" time="4">&nbsp;</td><td class="sat" time="4">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="4.5">&nbsp;</td><td class="tue" time="4.5">&nbsp;</td><td class="wed" time="4.5">&nbsp;</td><td class="thu" time="4.5">&nbsp;</td><td class="fri" time="4.5">&nbsp;</td><td class="sat" time="4.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">5교시</span><br />
									<span class="time">13:00~14:00</span>
								</th>
								<td class="mon" time="5">&nbsp;</td><td class="tue" time="5">&nbsp;</td><td class="wed" time="5">&nbsp;</td><td class="thu" time="5">&nbsp;</td><td class="fri" time="5">&nbsp;</td><td class="sat" time="5">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="5.5">&nbsp;</td><td class="tue" time="5.5">&nbsp;</td><td class="wed" time="5.5">&nbsp;</td><td class="thu" time="5.5">&nbsp;</td><td class="fri" time="5.5">&nbsp;</td><td class="sat" time="5.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">6교시</span><br />
									<span class="time">14:00~15:00</span>
								</th>
								<td class="mon" time="6">&nbsp;</td><td class="tue" time="6">&nbsp;</td><td class="wed" time="6">&nbsp;</td><td class="thu" time="6">&nbsp;</td><td class="fri" time="6">&nbsp;</td><td class="sat" time="6">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="6.5">&nbsp;</td><td class="tue" time="6.5">&nbsp;</td><td class="wed" time="6.5">&nbsp;</td><td class="thu" time="6.5">&nbsp;</td><td class="fri" time="6.5">&nbsp;</td><td class="sat" time="6.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">7교시</span><br />
									<span class="time">15:00~16:00</span>
								</th>
								<td class="mon" time="7">&nbsp;</td><td class="tue" time="7">&nbsp;</td><td class="wed" time="7">&nbsp;</td><td class="thu" time="7">&nbsp;</td><td class="fri" time="7">&nbsp;</td><td class="sat" time="7">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="7.5">&nbsp;</td><td class="tue" time="7.5">&nbsp;</td><td class="wed" time="7.5">&nbsp;</td><td class="thu" time="7.5">&nbsp;</td><td class="fri" time="7.5">&nbsp;</td><td class="sat" time="7.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">8교시</span><br />
									<span class="time">16:00~17:00</span>
								</th>
								<td class="mon" time="8">&nbsp;</td><td class="tue" time="8">&nbsp;</td><td class="wed" time="8">&nbsp;</td><td class="thu" time="8">&nbsp;</td><td class="fri" time="8">&nbsp;</td><td class="sat" time="8">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="8.5">&nbsp;</td><td class="tue" time="8.5">&nbsp;</td><td class="wed" time="8.5">&nbsp;</td><td class="thu" time="8.5">&nbsp;</td><td class="fri" time="8.5">&nbsp;</td><td class="sat" time="8.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">9교시</span><br />
									<span class="time">17:00~18:00</span>
								</th>
								<td class="mon" time="9">&nbsp;</td><td class="tue" time="9">&nbsp;</td><td class="wed" time="9">&nbsp;</td><td class="thu" time="9">&nbsp;</td><td class="fri" time="9">&nbsp;</td><td class="sat" time="9">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="9.5">&nbsp;</td><td class="tue" time="9.5">&nbsp;</td><td class="wed" time="9.5">&nbsp;</td><td class="thu" time="9.5">&nbsp;</td><td class="fri" time="9.5">&nbsp;</td><td class="sat" time="9.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">10교시</span><br />
									<span class="time">18:00~19:00</span>
								</th>
								<td class="mon" time="10">&nbsp;</td><td class="tue" time="10">&nbsp;</td><td class="wed" time="10">&nbsp;</td><td class="thu" time="10">&nbsp;</td><td class="fri" time="10">&nbsp;</td><td class="sat" time="10">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="10.5">&nbsp;</td><td class="tue" time="10.5">&nbsp;</td><td class="wed" time="10.5">&nbsp;</td><td class="thu" time="10.5">&nbsp;</td><td class="fri" time="10.5">&nbsp;</td><td class="sat" time="10.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">11교시</span><br />
									<span class="time">19:00~20:00</span>
								</th>
								<td class="mon" time="11">&nbsp;</td><td class="tue" time="11">&nbsp;</td><td class="wed" time="11">&nbsp;</td><td class="thu" time="11">&nbsp;</td><td class="fri" time="11">&nbsp;</td><td class="sat" time="11">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="11.5">&nbsp;</td><td class="tue" time="11.5">&nbsp;</td><td class="wed" time="11.5">&nbsp;</td><td class="thu" time="11.5">&nbsp;</td><td class="fri" time="11.5">&nbsp;</td><td class="sat" time="11.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">12교시</span><br />
									<span class="time">20:00~21:00</span>
								</th>
								<td class="mon" time="12">&nbsp;</td><td class="tue" time="12">&nbsp;</td><td class="wed" time="12">&nbsp;</td><td class="thu" time="12">&nbsp;</td><td class="fri" time="12">&nbsp;</td><td class="sat" time="12">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="12.5">&nbsp;</td><td class="tue" time="12.5">&nbsp;</td><td class="wed" time="12.5">&nbsp;</td><td class="thu" time="12.5">&nbsp;</td><td class="fri" time="12.5">&nbsp;</td><td class="sat" time="12.5">&nbsp;</td>
							</tr>
							<tr>
								<th rowspan="2">
									<span class="period">13교시</span><br />
									<span class="time">21:00~22:00</span>
								</th>
								<td class="mon" time="13">&nbsp;</td><td class="tue" time="13">&nbsp;</td><td class="wed" time="13">&nbsp;</td><td class="thu" time="13">&nbsp;</td><td class="fri" time="13">&nbsp;</td><td class="sat" time="13">&nbsp;</td>
							</tr>
							<tr class="halftimetr">
								<td class="mon" time="13.5">&nbsp;</td><td class="tue" time="13.5">&nbsp;</td><td class="wed" time="13.5">&nbsp;</td><td class="thu" time="13.5">&nbsp;</td><td class="fri" time="13.5">&nbsp;</td><td class="sat" time="13.5">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div id="export_wrapper">
				<div id="database_export">
					<p>작성한 시간표는 아래의 주소에서 쉽게 열어볼 수 있습니다! <br />
					<a id="saved_timetable_url" target="_blank"></a>
					</p>
				</div>
				<div id="image_export_wrapper">
					<canvas id="tt_canvas" style="display:none;">
					</canvas>
					<div id="export_image_wrapper">
					</div>
					<div id="export_button">
						<a href="#export_image" id="export_save_button" class="btn btn-danger" download="timetable.png">이미지 저장하기</a>
						<a href="#publish_facebook" id="publish_facebook_toggle_button" class="btn btn-danger" state="off">페이스북에 공유하기 <span class="caret"></span></a>
						<form id="facebook_message_wrapper" class="form-inline">
							<input type="text" placeholder="담벼락에 게시될 메시지를 입력하세요." id="facebook_message" />
							<button type="submit" id="publish_facebook_ok_button" class="btn">확인</button>
						</form>
						<p>
						* 이미지 저장하기 버튼이 작동하지 않으면 위에 있는 그림을 [우클릭 -&gt; 다른 이름으로 사진 저장]으로 직접 저장하세요.
						</p>
					</div>
				</div>
			</div>

			<div id="social_comment_wrapper">
				<div class="fb-comments" data-href="http://snutt.kr" data-num-posts="5" data-width="500" id="social_comment"></div>
			</div>

			<div id="footer">
				<h6>
				Initially Developed by <a href="http://www.facebook.com/jongmin.rok" target="_blank">Jongmin</a> in <a href="http://www.wafflestudio.com" target="_blank">Wafflestudio</a>
				</h6>
				<h6>
				Currently Maintained and Improved by <a href="https://www.facebook.com/wafflestudio" target="_blank">Wafflestudio</a> SNUTT Team members.
				</h6>
				<h6>
				Source code and contributor information are available on <a href="https://github.com/wafflestudio/snutt" target="_blank">this GitHub repository</a>.
				</h6>
				<p style="display:none;">
				최근 수강편람 업데이트 : <span id="data_updated_at"></span>
				</p>
			</div>

		</div> <!-- /container -->
		<div id="init_loading_modal">
			<div id="init_loading_image">
				<img src="/assets/images/loading.gif" alt="init-loading" />
			</div>
			<p>
			로딩중입니다. 잠시만 기다려 주세요.
			</p>
		</div>

		<div id="facebook_loading_modal">
			<div id="facebook_loading_image">
				<img src="/assets/images/loading.gif" alt="facebook-loading" />
			</div>
			<p>
			이미지를 등록중입니다. 잠시만 기다려 주세요.
			</p>
		</div>
		<div id="custom_lecture_modal">
			<form id="custom_lecture_form">
				<input type="text" id="custom_course_title" class="input-large" placeholder="교과목명을 입력하세요." /><br />
				<input type="text" id="custom_location" class="input-large" placeholder="강의동을 입력하세요." /><br />
				<button type="submit" id="custom_lecture_add_button" class="btn btn-inverse">추가</button>
				<a id="custom_lecture_close_button" class="btn btn-inverse">취소</a>
			</form>
		</div>

	</body> 
</html> 
